.input {
    padding: 0.75rem;
    width: 100%;
    border: 1px solid #0f0f0f; /* red */;
    outline-color: rgb(163, 163, 163); /* red */
}
.input_icon {
    padding: 0.75rem;
    width: 100%;
    border: 1px solid transparent; /* red */;
    outline-color: #0f0f0f; /* red */
}
.input_container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #0f0f0f; /* red */;
}
.icon {
    margin-right: 12px;
}