.container label {
    display: block;
    margin: 0.5rem 0rem;
}
.container textarea {
    border-radius: 0.25rem;
    font-size: 14px;
    font-family: var(--font-poppins);
    padding: 0.75rem;
    width: 90%;
    border: 0px;
}