.nav {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.img {
  height: "auto";
  object-fit: contain;
}
.img_profile {
  height: 30px;
  width: 30px;
  background-color: blueviolet;
  object-fit: cover;
  border-radius: 1000px;
}
.button_container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile_container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: var(--font-poppins);
  cursor: pointer;
}
.button_container a {
  text-decoration: none;
}
.items {
  cursor: pointer;
}
.list_container a {
  text-decoration: none;
  color: #0f0f0f;
}
.popup_list a {
  text-decoration: none;
  color: #0f0f0f;
}
.btn {
  background-color: #0f0f0f;
  color: #fff;
  border: 0px;
  border-radius: 0.25rem;
  font-size: 14px;
  padding: 12px 22px;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn:hover {
  border: 1px solid #353535;
  background-color: #353535;
  transition: all 0.2s ease-in-out;
}
.btn_outline {
  border: 1px solid transparent;
  color: rgb(82, 82, 255);
  background-color: transparent;
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup_container {
  position: absolute;
  padding: 20px;
  right: 20px;
  background-color: white;
  top: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 12px;
  font-family: var(--font-poppins);
  transition: all 0.2s ease-in-out;
  animation: fadeIn 0.2s linear;
}
.popup_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
